<!DOCTYPE html>
<html>

    <head>
        <title>CodeKS | Add Project</title>

        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" type="text/css" href="/css/ionicons.css">
        <link rel="stylesheet" type="text/css" href="/css/app.css">
        
        <base href="/" />
    </head>

    <body class="container">
        
        <div class="row">
            <div class="sm-6 md-6 lg-6">
                <h2>New Project </h2>
            </div>
            <a class="sm-4 md-4 lg-4 tile tile-disabled" href="/profile">
                <p>
                    {{ user }} <i class="icon-small ion-person"></i>
                </p>
            </a>
        </div>
        <div class="row">
            <div class="sm-8 sm-offset-1 md-4 md-offset-3 lg-4 lg-offset-3 tile tile-assertive" id="error_messages" style="display:none;">
                <ul></ul>
            </div>
            <div class="sm-8 sm-offset-1 md-4 md-offset-3 lg-4 lg-offset-3 tile tile-royal">
                <h1>Add a new project</h1>
                <form action="/projects/add" method="POST">
                    <div class="row">
                        <div class="sm-8 sm-offset-1 md-6 md-offset-2 lg-6 lg-offset-2">
                            <input class="mt-form-input" type="text" name="name" onchange="codeKS.validateHasNoSpace(this, 'Project Name');" placeholder="Project Name" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="sm-4 sm-offset-3 md-4 md-offset-3 lg-4 lg-offset-3">
                            <input class="mt-button" name="submit" type="submit" value="Add" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        <script type="text/javascript" src="/js/app.js"></script>
        
    </body>
</html>

